<section class="contactFormContainer l-section verticalFlexContainer">

    <p class="contactForm__subtitle">Welcome To Project's Payment Details</p>

    <h2 class="contactForm__title"><%= @project.name%></h2>
    
    <div class="errorDivContainer">
    </div>
    
    <%= render "form", amount_received: @amount_received %>

</section>
<%= render "layouts/footer" %>