<section class="contactFormContainer l-section verticalFlexContainer">
    <p class="contactForm__subtitle">Let's add some things in your bukcet</p>
    <div class="errorDivContainer">
    </div>
    
    <%= render "form", order_detail: @order_detail %>

    

    
</section>
<%= render "layouts/footer" %>