<section class="contactFormContainer l-section verticalFlexContainer">

    <p class="contactForm__subtitle">Order Details Section</p>
    <h2 class="contactForm__title">Place Items In Bucket</h2>

    <div class="errorDivContainer">
    </div>

    <%= render "input_form", order_detail: @order_detail %>

</section>

<section class="contactFormContainer l-section verticalFlexContainer">

    <p class="contactForm__subtitle">Let's add some things in your bukcet</p>

    <div class="errorDivContainer">
    </div>
    
    <%= render "form", order_detail: @order_detail %>

</section>

<%= render "layouts/footer" %>