$("#orderDetailTable tr#" + <%=params[:id]%>).remove()



<%if @project.orders.all.count == 0%>
    document.getElementById('orderCountDiv').innerHTML = '<p>No orders taken yet</p>'
<%else%>
    document.getElementById('orderCountDiv').innerHTML = '<h1><%= @project.orders.all.count%></h1><p>Total Orders</p>'
<%end%>




