
<section class="section about" id="about">
        <span class="aboutTitle">About us</span>
        <div class="redLine"></div>
</section>

<section class="l-section aboutStory flexContainer">
    <div class="leftStory verticalFlexContainer">
        <div class="storyTitle">Our Story</div>
        <div class="storyDescription">
            Umair Umar founded their firm in 2007, after completing their respective educations in the fields of Architecture and Interior Design. He established his business in Lahore-Max Designs which has harvested a reputation acros Pakistan particularly in Lahore, Islamabad, Peshawar, Multan, Sialkot, Faisalabad, Gujranwala and also expanding its roots in the global markets. <br> <br>

            For most of the projects, contrast is key throughout his careful selections both in terms of materials and colors. What remains consistent throughout; is the use of aesthetics: Sustainable and innovative contemporary architecture, Neo classic, classical designs.
            With more than 15 year’s experience, we are well known due to our work in Pakistan and international markets, an achievement that is attributable to his unique business model, which forms the foundation for our strong, dynamic corporate strategy.
        </div>
    </div>

    <div class="rightStory">
        <img src="http://maxdesigns.ae/wp-content/uploads/2022/06/img_3764_m.jpeg" alt="">
    </div>
</section>

<section class="aboutImplementation verticalFlexContainer">
    <div class="aboutImplement flexContainer">
        <div class="leftImplement verticalFlexContainer">
            <h1 class="implementTitle">Architecture</h1>
            <p class="implementDescription">Each person has his/her own history. MAX DESIGNS helps to tell it through the architecture. Innovative. Intelligent. Sustainable.</p>
            <a href="http://maxdesigns.ae/services/" class="blackFillButton">View More</a>
        </div>

        <div class="rightImplement">
            <img src="http://maxdesigns.ae/wp-content/uploads/2022/06/img_54_m5.png" alt="">
        </div>
    </div>

    <div class="aboutImplement flexContainer orderImplement">
        <div class="leftImplement verticalFlexContainer">
            <h1 class="implementTitle">interior design</h1>
            <p class="implementDescription">Projects and exclusive design solutions for interior of apartments, houses and cottage. Our top priorities are your comfort and convenience.</p>
            <a href="http://maxdesigns.ae/services/" class="blackFillButton">View More</a>
        </div>

        <div class="rightImplement">
            <img src="http://maxdesigns.ae/wp-content/uploads/2022/06/img_54_m.png" alt="">
        </div>
    </div>

    <div class="aboutImplement flexContainer">
        <div class="leftImplement verticalFlexContainer">
            <h1 class="implementTitle">Exterior Design</h1>
            <p class="implementDescription">How to create bright and functional modern facade? What will be the main «feature» of exterior? How to make patio comfortable for rest and relax?</p>
            <a href="http://maxdesigns.ae/services/" class="blackFillButton">View More</a>
        </div>

        <div class="rightImplement">
            <img src="http://maxdesigns.ae/wp-content/uploads/2022/06/img_54_m1.png" alt="">
        </div>
    </div>

    <div class="aboutImplement flexContainer orderImplement">
        <div class="leftImplement verticalFlexContainer">
            <h1 class="implementTitle">Garden Design</h1>
            <p class="implementDescription"> <strong>Garden Design</strong> – is another option to present your character and implement your individuality through the unique world of plants and natural materials.</p>
            <a href="http://maxdesigns.ae/services/" class="blackFillButton">View More</a>
        </div>

        <div class="rightImplement">
            <img src="http://maxdesigns.ae/wp-content/uploads/2022/06/img_54_m2.png" alt="">
        </div>
    </div>

    <div class="aboutImplement flexContainer">
        <div class="leftImplement verticalFlexContainer">
            <h1 class="implementTitle">Construction</h1>
            <p class="implementDescription">Human factor is more important in construction than in any other area. Successful result depends on competent team which works with proper accuracy and coordination, like the Swiss watch.</p>
            <a href="http://maxdesigns.ae/services/" class="blackFillButton">View More</a>
        </div>

        <div class="rightImplement">
            <img src="http://maxdesigns.ae/wp-content/uploads/2022/06/img_54_m4.png" alt="">
        </div>
    </div>

    <div class="aboutImplement flexContainer orderImplement">
        <div class="leftImplement verticalFlexContainer">
            <h1 class="implementTitle">Renovation</h1>
            <p class="implementDescription">Would you like to create wow effect upon modernization of your apartment, house, office, restaurant, saloon? MAX DESIGNS will create interior ambience in any estate, we will improve the level of comfort after repairs.</p>
            <a href="http://maxdesigns.ae/services/" class="blackFillButton">View More</a>
        </div>

        <div class="rightImplement">
            <img src="http://maxdesigns.ae/wp-content/uploads/2022/06/img_54_m6.png" alt="">
        </div>
    </div>

</section>

<section class="aboutProjects flexContainer l-section">
    <div class="projectCountContaier verticalFlexContainer">
        <h1 class="aboutProject__title">we implement project</h1>
        <div class="redLine"></div>
        <h2 class="aboutProject__subtitle">from dubai</h2>

        <div class="aboutProject__content flexContainer">
            <div class="aboutProject__contentBox flexContainer">
                <img src="http://maxdesigns.ae/wp-content/uploads/2022/06/img_641_b.png" alt="">
                <div class="aboutContext verticalFlexContainer">
                    <h1 class="aboutContext__title">129</h1>
                    <p class="aboutContext__description">Apartment <br> <strong>Project Design</strong></p>
                </div>
            </div>
            
            <div class="aboutProject__contentBox flexContainer">
                <img src="http://maxdesigns.ae/wp-content/uploads/2022/06/img_642_b.png" alt="">
                <div class="aboutContext">
                    <h1 class="aboutContext__title">87</h1>
                    <p class="aboutContext__description">Private House <br> <strong>Project Design</strong></p>
                </div>
            </div>

            <div class="aboutProject__contentBox flexContainer">
                <img src="http://maxdesigns.ae/wp-content/uploads/2022/06/img_643_b.png" alt="">
                <div class="aboutContext">
                    <h1 class="aboutContext__title">129</h1>
                    <p class="aboutContext__description">Retails</p>
                </div>
            </div>

            <div class="aboutProject__contentBox flexContainer">
                <img src="http://maxdesigns.ae/wp-content/uploads/2022/06/img_645_b.png" alt="">
                <div class="aboutContext">
                    <h1 class="aboutContext__title">105</h1>
                    <p class="aboutContext__description">Hospitality</p>
                </div>
            </div>

            <div class="aboutProject__contentBox flexContainer">
                <img src="http://maxdesigns.ae/wp-content/uploads/2022/06/img_641_b.png" alt="">
                <div class="aboutContext">
                    <h1 class="aboutContext__title">33</h1>
                    <p class="aboutContext__description">Interior Fitouts <br> <strong>Projects</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>


