<main class="main">
        <!--==================== HOME ====================-->
        <section class="home">
            <div class="home__container container">
                <div class="home__data">
                    <span class="home__subtitle">Unauthorized Access</span>
                    <h1 class="home__title">Hey Buddy</h1>
                    <p class="home__description">
                        It seems You are not authorized <br> to access this page.
                    </p>
                    <a href="<%= dashboard_path%>" class="home__button">
                        Dashboard
                    </a>
                </div>

                <div class="home__img">
                    <%= image_tag "ghost-img.png" %>
                    <div class="home__shadow"></div>
                </div>
            </div>
        </section>
    </main>