<div class="projectMainContainer l-section verticalFlexContainer">
        
    <%= render "index_first_content" %>

    <div class="projectContentContainer flexContainer">

        <% @projects.each do |project|%>
            <%= render "index_cards", project: project %>
        <% end%>
        
    </div>
    
</div>

<%= render "layouts/footer" %>