<section class="section welcome" id="welcome">
    <div class="welcomeDark">
        <%= image_tag "logoWhite.png"%>
    </div>
</section>
<section class="section welcome" id="welcome">
    <div class="welcomeDark">
        <%= image_tag "logoWhite.png"%>
    </div>
</section>
<%= render "layouts/footer" %>