<div class="deviseMainContainer  l-section verticalFlexContainer">

  <h2 class="deviseTitle">Log in</h2>
  <% if flash.alert %>
     <div id=”error_explanation”>
      <ul>
        <li><%= flash.alert %></li>
      </ul>
     </div>
  <% end %>

  <%= render "form" %>

  

</div>

