<section class="contactFormContainer l-section verticalFlexContainer edit_item_container">

    <p class="contactForm__subtitle">Hi, <%= current_user.name%></p>
    <h2 class="contactForm__title">Let's make our Shop a better place</h2>

    <div class="errorDivContainer">
    </div>

    <%= render "edit_form", item: @item %>


</section>

<%= render "layouts/footer" %>