<div class="itemIndexContainer l-section verticalFlexContainer">
    <div class="ItemIndexMain verticalFlexContainer">

        <div class="topItemContainer">

            <div class="ItemMainUpper flexContainer">
                <%= render "vendor_display_section" %>
            </div>

            <div class="searchArea l-section flexContainer">
                <%= render "search_section" %>
            </div>

            <h6 class="itemsCountHeading">Nothing to Search</h1>

        </div>
        <div class="verticalFlexContainer registeredUsersContainer ItemsTable">

    
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Type</th>
                        <th scope="col">Last Updated</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
        
                <tbody>
                    <% @items.each do |item|%>
                        <%= render "index_table_body", item: item %>
                    <% end%>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%= render "layouts/footer" %>