<section class="contactFormContainer l-section verticalFlexContainer new_item_container">
    <p class="contactForm__subtitle">Hi, <%= current_user.name%></p>
    <h2 class="contactForm__title">It's great to see you adding new items to your shop</h2>
    <%= render "devise/shared/error_messages", resource: @item %>

    <%= render "form", item: @item %>

    

    
</section>
<%= render "layouts/footer" %>