<section class="contactFormContainer l-section verticalFlexContainer new_item_container">

    <p class="contactForm__subtitle">Hi, <%= current_user.name%></p>
    <h2 class="contactForm__title">It's great to see you adding new items to your shop</h2>

    <div class="errorDivContainer">
    </div>

    <%= render "form", item: @item %>
 
</section>

<%= render "layouts/footer" %>