<section class="unallowedDashboardSection dashboardSection verticalFlexContainer">

    <div class="leftRightContainer verticalFlexContainer">
        <h1>You have not yet been allowed by the management. Please wait till the management allows your access</h1>
    </div>

</section>