<div class="dashboardMainContainer l-section verticalFlexContainer">

    <div class="verticalFlexContainer">

        <h1 class="dash__title__helper">WELCOME,</h1>
        <h1 class="dash__title"><%= current_user.name.titleize%></h1>

    </div>

    <div class="redLine"></div>

    <%if current_user.no_role?%>

        <%= render "no_role" %>

    <%else%>

        <%= render "role_defined" %>

    <%end%>
    
</div>

<%= render "layouts/footer" %>