
<h2 class="deviseTitle" id="deviseLoginTitle">Log In As Admin</h2>
<div class="deviseMainContainer  l-section verticalFlexContainer">
  
  <% if flash.alert %>
     <div id=”error_explanation”>
      <ul>
        <li><%= flash.alert %></li>
      </ul>
     </div>
  <% end %>
  <%= render "form" %>

</div>
<%= render "layouts/footer" %>

