// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


.deviseMainContainer{
    background-color: var(--text-color-light);
}


.deviseTitle{
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    color: var(--default-color);
}



:root{

    --header-height: 3rem;

    /*              Colors / Theme          */
    --first-color: #000;
    --first-color-light: rgb(16, 16, 16);
    --first-color-lighten: #e0e0e0; 
    --first-color-alt: #8a7968;
    --text-color: white;
    --text-color-light: #e0e0e0; 
    --default-color: #7E0c17;
    --body-color: hsl(var(--hue-color),4%,6%);
    --scroll-thumb-color: hsl(var(--hue-color),4%,16%);
    --scroll-thumb-color-alt: hsl(var(--hue-color),4%,20%);


    /*              Typographhy          */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.1rem;
    --small-font-size: 0.938rem;
    --smaller-font-size: 0.85rem;
    --biggest-font-size: 3rem;
    --bigger-font-size: 2rem;
    --big-font-size: 1rem;

    /*              Font weight          */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*===== Margenes =====*/
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /*===== z index =====*/
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root{
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.5rem;
        --normal-font-size: 1.25rem;
        --small-font-size: 1rem;
        --smaller-font-size: 0.95rem;
        --biggest-font-size: 5rem;
        --bigger-font-size: 3.5rem;
        --big-font-size: 2.5rem;
    }
}

/* =================================================     Scroll Bar    ==================================================== */
::-webkit-scrollbar{
    width: 0.60rem;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--scroll-thumb-color-alt);
}

/*===== BASE =====*/
*, ::before, ::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    background-color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3, p{
    margin: 0;
}

h3{
    font-weight: var(--font-semi-bold);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}



/*===== CLASS CSS ===== */

.section{
    padding: 4rem 0 2rem;
}

.l-section{
    padding: 4rem 4rem;
}

.separationQuote{
    background-color: var(--first-color-lighten);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quoteText{
    font-size: var(--h3-font-size);
    color: var(--first-color-light);
}

.quoteRefer{
    color: #7E0c17;
    justify-content: right;
    font-size: var(--h2-font-size);
}


.redLine{
    height: 2px;
    width: 40%;
    background-color: var(--default-color);
}


.flexContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalFlexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

.leftRightContainer
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


/* ==================    Buttons    =========================*/
.transparentButton{
    background: transparent;
    border: 2px solid var(--text-color-light);
    color: var(--text-color-light);
    transition: 0.3s;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.3rem 1rem;
    max-width: 70%;
    position: relative;
}

.transparentButton::before,
.transparentButton::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s;
}

.transparentButton::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

.transparentButton::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.transparentButton:hover::before,
.transparentButton:hover::after{
    width: calc(100% + 29px);
    height: calc(100% + 29px);
}

.transparentButton:hover{
    border: 2px solid var(--text-color);
    color: var(--text-color);
    text-shadow: 0 0 var(--text-color);
}


.blackFillButton{
    padding: 0.5rem 2rem ;
    border: 2px solid var(--first-color) !important;
    background: var(--text-color) !important;
    color: var(--first-color) !important;
    transition: 0.4s;
}

a.blackFillButton{
    color: var(--first-color) !important;
    text-decoration: none;
}

.blackFillButton:hover{
    background: var(--first-color) !important;
    color: var(--text-color) !important;
}

.whiteFillButton{
    padding: 0.5rem 2rem;
    border: 2px solid var(--first-color);
    background-color: var(--first-color);
    color: var(--text-color);
    transition: 0.4s;
    text-decoration: none;
}

a.whiteFillButton{
    color: var(--text-color);
    text-decoration: none;
}

.whiteFillButton:hover{
    border: 2px solid var(--first-color);
    background-color: var(--text-color);
    color: var(--first-color);
}


.deviseMainContainer{
    background-color: transparent;
}

.deviseTitle{
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    color: var(--default-color);
}

.deviseMainContainer form{
    margin-top: 2rem;
    padding: 2rem 1rem;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.deviseMainContainer form div.field{
    width: 70%;
    display: flex;
    justify-self: center;
    align-self: center;
}

.deviseMainContainer form div.field input{
    width: 100%;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

.rememberBox{
    justify-content: flex-start;
    align-items: left;
    color: var(--default-color);
    font-size: 1.2rem;
    width: 70%;
}

.actions{
    width: 70%;
}

.actions .blackFillButton{
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.actions input[type="submit"]{
    border-radius: 0;
}

.deviseLinks{
    margin-top: 0.8rem;
    row-gap: 0;
}

.deviseLinks a{
    text-align:center;
}

.field em{
    color: var(--default-color);
    font-style: normal;
}

@media screen and (max-width: 1155px)
{
    .deviseMainContainer form{
        width: 100%;
        padding: 2rem 0;
    }

    .deviseMainContainer form div.field{
        width: 100%;
    }

    .actions{
        width: 100%;
    }

    .rememberBox{
        width: 100%;
    }

    .active_admin #wrapper{
        padding: 4rem 0;
    }
}


@media screen and (max-width: 650px)
{
    .deviseMainContainer form div.field{
        width: 100%;
    }

    .actions{
        width: 100%;
    }

    .deviseMainContainer{
        padding: 4rem 1rem;
    }

    .rememberBox{
        width: 100%;
    }
    
}

#user_qualification,
#user_user_roles{
    width: 100%;
    padding: 1rem 0.5rem;
    border: none;
    outline: none;
    background-color: var(--text-color);
    font-size: var(--small-font-size);
    
    color: gray;
}

#user_qualification option:hover{
    background-color: var(--default-color);
}

.field select{
    border-radius: 9px;
    padding-right: 9px;
}


#signupMesssageField{
    text-align: center;
}

#signupMesssageField em{
    font-weight: 600;
}

.avatarField input{
    padding: 0.1rem;
}

.active_admin .flashes{
    display: none;
}



.active_admin #wrapper{
    padding: 4rem 4rem;
    
}

.active_admin #wrapper #content_wrapper{
    margin: 0;
    width: 100%;
    box-shadow: none;
}

.active_admin #wrapper #content_wrapper #active_admin_content{
    background: transparent;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    
}

#deviseLoginTitle{
    background: none;
    color: var(--default-color);
    text-align: center;
    font-size: var(--bigger-font-size);
    box-shadow: none;
}


/* ====================================     Footer  ================================ */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
    row-gap: 2rem;
    background: var(--first-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    
}

.upperFooter{
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
}

.lowerFooter{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.socialLink{
    height: 40px;
    width: 40px;
    /* padding: 1rem; */
    background-color: var(--text-color);
    margin: 5px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.socialLink i{
    font-size: 1.3rem;
    justify-self: center;
    color: var(--default-color);
}

.socialLink:hover{
    background-color: var(--default-color);
}

.socialLink:hover i{
    color: var(--text-color);
}

.copy{
    text-align: center;
}

#footer{
    display: none;
}

.index_table {
    border-collapse: collapse !important;
}
.index_table.index thead tr a{

    color: var(--text-color) !important;
}

.index_table.index thead th, #header{
    background: var(--default-color) !important;
    text-shadow: none;
}

#header #site_title{
    color: var(--text-color);
    font-size: var(--h2-font-size);
}

#tabs .menu_item {
    padding: 1rem;
    border-radius: 17px;
    transition: 0.4s;
}

#tabs .menu_item:hover{
    background: #7e000d;
}

#header #utility_nav{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

#tabs .menu_item a, #header #utility_nav a{
    color: var(--text-color);
    padding: 1rem !important;
    border-radius: 17px;
    transition: 0.4s;
}


#tabs .current a{
    background: #5c000a !important;
}

#tabs .menu_item a:hover, #header #utility_nav a:hover{
    background: #5c000a !important;
}

.title_bar{
    background: var(--first-color) !important;   
}


.title_bar #titlebar_left #page_title{
    padding: 1rem 0 !important;
    color: var(--text-color) !important;
}

.title_bar #titlebar_left .breadcrumb a{
    
    color: var(--text-color) !important;
    text-decoration: none;
    text-shadow: none;
    transition: all 0.4s;
}

.title_bar #titlebar_left .breadcrumb a:hover{
    color: var(--first-color-alt) !important;
}

.action_item a{
    background: var(--first-color-light) !important;
    box-shadow: none !important;
    color: var(--text-color) !important;
    border-radius: 0;
    border: 2px solid var(--text-color) !important;
    padding: 1rem 2rem !important;
    transition: 0.4s;
    text-shadow: none !important;
}

.action_item a:hover{
    background: var(--first-color) !important;
    border: 2px solid var(--first-color-alt) !important;
    color: var(--first-color-alt) !important;
}

.active_admin{
    background: var(--text-color-light) !important;
}

.table_tools{
    display: flex;
    align-items: center;
}


.table_tools .batch_actions_selector a, .table_tools .scopes a{
    text-align: center;
    padding: 1.5rem 1rem;
    background: var(--first-color);
    color: var(--text-color);
    text-shadow: none;
    transition: 0.4s;
}

.table_tools .batch_actions_selector a:hover, .table_tools .scopes a:hover{
    background: var(--body-color);
    color: var(--first-color);
}


.sidebar_section h3{
    background: var(--default-color);
    color: var(--text-color);
    text-shadow: none;
}

.filter_form_field select{
    padding: 0.2rem 0.2rem;
}

.filter_form .buttons input{
    border-radius: none;
    background: var(--first-color);
    border-radius: 0;
    text-shadow: none;
    color: var(--text-color);
    padding: 1rem 1rem;
    transition: 0.4s;
}

.filter_form .buttons input:hover{
    background: var(--text-color) !important;
    color: var(--first-color) !important;
}

.filter_form .buttons .clear_filters_btn{
    border-radius: none;
    background: var(--text-color);
    border-radius: 0;
    text-shadow: none;
    color: var(--first-color);
    padding: 1rem 1rem;
    transition: 0.4s;
}

.filter_form .buttons .clear_filters_btn:hover{
    background: var(--first-color) !important;
    color: var(--text-color) !important;
}

.pagination_information{
    color: var(--default-color);
    font-size: var(--small-font-size);
}

.pagination_information b{
    color: var(--first-color-light);
}

.table_actions a{
    text-decoration: none;
}

.table_actions a.delete_link{
    color: var(--default-color);
}

.table_actions a.view_link{
    color: green;
}

.table_actions a.edit_link{
    color: var(--body-color);
}

.download_links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.download_links span{
    color: var(--default-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.download_links a{
    text-decoration: none;
    background: var(--first-color-light);
    color: var(--text-color-light);
    padding: 0.7rem 0.5rem;
    width: 8rem;
    text-align: center;
    transition: 0.4s;
    border-radius: 2rem;
}

.download_links a:hover{
    background: var(--first-color);
    color: var(--text-color);
}

select option{
    text-transform: capitalize;
}


.pagination .current{
    background: var(--default-color) !important;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.5rem !important;
    border-radius: 17px !important;
    font-size: var(--normal-font-size) !important;
    transition: 0.4s;
}

.pagination .current:hover{
    background: #4f080f !important;
}

.pagination .page a{
    background: var(--first-color) !important;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.5rem !important;
    border-radius: 17px !important;
    font-size: var(--normal-font-size) !important;
    color: var(--text-color) !important;
    text-shadow: none;
    transition: 0.4s;
}

.pagination .next a{
    background: var(--first-color) !important;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.5rem !important;
    border-radius: 17px !important;
    font-size: var(--normal-font-size) !important;
    color: var(--text-color) !important;
    text-shadow: none;
    transition: 0.4s;
}

.pagination .last a{
    background: var(--first-color) !important;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.5rem !important;
    border-radius: 17px !important;
    font-size: var(--normal-font-size) !important;
    color: var(--text-color) !important;
    text-shadow: none;
    transition: 0.4s;
}

.pagination .page a:hover, .pagination .next a:hover, .pagination .last a:hover{
    background: var(--first-color-alt) !important;
}


#index_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

#index_footer .pagination_information{
    order: -1;
    width: 100%;
    justify-content: flex-end;
}


.admin_users .title_bar #titlebar_right .action_items .action_item a,
.admin_vendors .title_bar #titlebar_right .action_items .action_item a,
.admin_vendor_histories .title_bar #titlebar_right .action_items .action_item a,
.admin_items .title_bar #titlebar_right .action_items .action_item a,
.admin_transactions .title_bar #titlebar_right .action_items .action_item a,
.admin_projects .title_bar #titlebar_right .action_items .action_item a,
.admin_orders .title_bar #titlebar_right .action_items .action_item a,
.admin_order_details .title_bar #titlebar_right .action_items .action_item a,
.admin_amount_receiveds .title_bar #titlebar_right .action_items .action_item a
{
    display: none;
}




/* ====================================     User Profile  ================================ */
.admin_vendors .col-user a{
    text-decoration: none;
    color: var(--default-color);
}

.admin_vendors th.col-user, 
.admin_users th.col-image,
.admin_vendors th.col-no_of_items,
.admin_vendors th.col-email,
.admin_vendor_histories th.col-company_name,
.admin_vendor_histories th.col-project_name,
.admin_vendor_histories th.col-no_of_items,
.admin_vendor_histories th.col-amount,
.admin_transactions th.col-project_name,
.admin_transactions th.col-user,
.admin_transactions th.col-email,
.admin_projects th.col-total_details,
.admin_projects th.col-total_orders,
.admin_project_details th.col-project,
.admin_project_details th.col-detail_added_by,
.admin_project_details th.col-email,
.admin_orders th.col-project,
.admin_orders th.col-total_bill,
.admin_orders th.col-items_count,
.admin_order_details th.col-project_name,
.admin_order_details th.col-vendor,
.admin_order_details th.col-item,
.admin_order_details th.col-item_price,
.admin_order_details th.col-total_sum,
.admin_amount_receiveds th.col-project,
.admin_amount_receiveds th.col-received_by,
.admin_amount_receiveds th.col-role
{
    color: var(--text-color);
}


.admin_project_details .col-project a,
.admin_project_details .col-detail_added_by a,
.admin_orders .col-project a
{
    color: var(--default-color);
    text-decoration: none;
}





/* ====================================     User Profile  ================================ */
.profileContainer{
    background: url(asset_path("bg_black_marble.jpg"));
    background-attachment: fixed;
}

.profileWrapper{
    background-color: white;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 43px -3px rgba(255, 255, 255, 0.659);
    border-radius: 7px;
    gap: 3rem;
    width: 80%;
    
}

.profileContent{
    row-gap: 3rem;
}

.profileImageDiv{
    width: 12rem;
    height: 12rem;
    background-color: var(--text-color-light);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content:center !important;
    align-items: center;
    padding: 1rem 1rem;
}

.profileImageDiv img{
    max-width: 100%;
    max-height: 100%;
    transform: scale(1.2);
}

.setContent{
    row-gap: 1rem;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 2rem;
    box-shadow:  0 0 4px 3px rgba(183, 183, 183, 0.15);
    padding: 4rem 4rem;
    border-radius: 5px;
}

.setInfoTitle{
    align-self: center;
    color: var(--default-color);
    font-size: var(--h3-font-size);
}

.setInfoDetailTitle{
    color:var(--first-color-light) ;
    font-size: var(--normal-font-size);
}

.setInfoDetailDesc{
    font-size: var(--small-font-size);
    color: var(--first-color-light);
}

.profileDetails{
    width: 70%;
    align-self: flex-start;
    row-gap: 2rem;
    align-items: flex-start;
}

.generalInfoContainer{
    align-items: flex-start;
    box-shadow:  0 0 4px 3px rgba(183, 183, 183, 0.15);
    padding: 4rem 4rem;
    width: 100%;
}

.profileName{
    font-size: var(--h3-font-size);
    line-height: var(--h2-font-size);
}

.profilePost{
    font-size: var(--smaller-font-size);
    color: var(--default-color);
}


.professionalInformation{
    width: 100%;
}

.rankTitle{
    color: gray;
}

.rankValue{
    font-size: var(--h2-font-size);
}

.professionalInformation{
    align-items: flex-start;
    box-shadow:  0 0 4px 3px rgba(183, 183, 183, 0.15);
    padding: 4rem 4rem;
    gap: 2rem;
}

.contactTitle{
    color: gray;
    font-size: var(--small-font-size);
}

.contactInfo{
    align-items: flex-start;
}


.contactInfo .setInfoDetail .setInfoDetailTitle{
    padding-right: 1rem;
}

.profileDetails .blackFillButton{
    width: 100%;
    text-align: center;
    font-weight: var(--font-semi-bold);
}

.contactInfo .setInfoDetail .setInfoDetailTitle{
    color: var(--default-color);
}

.delAccount input.blackFillButton{
    cursor: pointer;
    font-size: var(--small-font-size);
    padding: 0.5rem 2.5rem; 
    font-weight: 500;
}

@media screen and (max-width: 1267px) {

    .setContent .blackFillButton{
        width: 100%;
        text-align: center;
        font-weight: 100;
            padding: 6px 19px;
    }

    .profileWrapper{
        flex-direction: column;
        width: 80%;
    }

    .profileContent{
        align-self: flex-start;
        width: 100%;
    }

    .profileContent img{
        align-self: center;
    }

    .profileContentContainer{
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        align-self: flex-start;
        justify-self: flex-start;
    }

    .setInformation{
        width: 100%;
    }

    .setContent{
        width: 100%;
    }

    .setContent .changePassword{
        align-self: center;
    }

    .profileDetails{
        width: 100%;
    }

    .generalInfoContainer{
        width: 100%;
    }

    .profileContent .profileImageDiv img{
        max-width: 100%;
        max-height: 100%;
        transform: scale(2.5);
    }

    
}


@media screen and (max-width: 715px){
    .profileContainer{
        padding: 4rem 0.5rem;
    }

    .profileWrapper{
        width: 95%;
        padding: 4rem 2rem;
    }
}

@media screen and (max-width: 500px){
    .profileWrapper{
        padding: 4rem 1rem;
        box-shadow: none;
    }

    .profileContent img{
        width: 40%;
    }

    .setContent .changePassword blackFillButton{
        font-size: var(--smaller-font-size);
        padding: 1rem;
        width: 80%;
        
    }

    .setContent{
        padding: 4rem 1.5rem;
    }

    .setInfoDetailTitle{
        padding-right: 0;
    }

    .professionalInformation {
        padding: 4rem 1.5rem;
    }

    .contactInfo .setInfoDetail .setInfoDetailTitle{
        padding-right: 0;
    }
}


/* ====================================   Dashboard    ================================ */
.dashboardMainContainer{
    width: 100%;
    background-color: var(--first-color);
    color: white;
}

.dashboard__img{
    width: 25%;
}

.dashboardSection{
    margin: 3rem 0;
    width: 100%;
    border-radius: 2rem;
    padding: 3rem 3rem;
}

.dashboardSection .leftRightContainer h1{
    font-size: var(--bigger-font-size);
    text-align: center;
}


.dashboardCards{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.dashboardCard{
    border-radius: 1rem;
    padding: 2rem 2rem;
    background-color: var(--first-color);
    min-width: 18rem;
    width: 32%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dashboardCard .leftIcon i{
    font-size: var(--biggest-font-size);
}

.dashboardCard .rightDash{
    text-align: center;
}

.dashboardCard .rightDash .dashCardTitle{
    font-size: var(--small-font-size);
}

@media screen and (max-width: 1230px)
{
    .dashboardCard{
        width: 47%;
    }

}

@media screen and (max-width: 950px)
{
    .dashboardCard{
        width: 100%;
    }

    .dashboardCard .leftIcon i{
        font-size: 5rem;
    }
}

@media screen and (max-width: 570px)
{
    .dashboardMainContainer{
        padding: 4rem 1rem;
    }
}

@media screen and (max-width: 425px)
{
    .dashboardSection{
        padding: 3rem 1rem;
    }
}

@media screen and (max-width: 332px)
{
    .dashboardCard{
        min-width: auto;
        flex-direction: column;
    }

    .dash__title{
        font-size: 2rem;
    }
}

.projectDashboardSection{
    background: var(--body-color);
}

.projectDashboardSection .dashboardCard .leftIcon i{
    color: var(--text-color);
    font-weight: var(--font-bold);
}

.projectDashboardSection .dashboardCard .rightDash .dashCardTitle{
    color: var(--text-color);
    font-weight: var(--font-bold);
}



.orderDashboardSection{
    background: var(--default-color);
}

.orderDashboardSection .dashboardCard .leftIcon i{
    color: var(--default-color);
    
}

.orderDashboardSection .dashboardCard .rightDash .dashCardTitle{
    color: var(--default-color);
    font-weight: var(--font-bold);

}



.userDashboardSection .dashboardCard .leftIcon i{
    color: var(--first-color-alt);
    font-weight: var(--font-bold);
}

.userDashboardSection .leftRightContainer h1{
    color: var(--first-color-alt);
}



.detailDashboardSection{
    background: var(--first-color-light);
}

.detailDashboardSection .dashboardCard .leftIcon i{
    color: var(--body-color);
    font-weight: var(--font-bold);
}

.detailDashboardSection .dashboardCard .rightDash .dashCardTitle{
    color: var(--body-color);
    font-weight: var(--font-bold);
}


.unallowedDashboardSection .leftRightContainer h1{
    color: var(--first-color-alt);
}

.dash__title{
    font-size: var(--biggest-font-size);
    color: white;
    font-weight: var(--font-bold);
    line-height: 6rem;
    text-align: center;
}

.dash__title__helper{
    font-size: var(--bigger-font-size);
    color: var(--text-color);
    text-align: center;
}

.dash__title__helper__emergent{
    font-size: var(--bigger-font-size);
    color: var(--default-color);
    text-align: center;
}

@media screen and (max-width: 780px){
    .dash__title{
        line-height: 4rem;
    }
}

.admin_dashboard{
    background: var(--first-color) !important;
}

/* ====================================   Show Items    ================================ */
.itemIndexContainer{
    width: 100%;
    background: url(asset_path("bg_black_marble.jpg"));
    background-attachment: fixed;
    background-position: center;
}

.ItemIndexMain{
    background-color: var(--text-color);
    width: 90%;
}

.topItemContainer{
    width: 100%;
    margin-top: 2rem;
    padding: 0 2rem;
}

.ItemMainUpper{
    align-items: flex-start;
    justify-content: space-between;
}

.itemCompanyDetails{
    align-items: flex-start;
    row-gap: 0;
}

.itemCompanyName{
    color: var(--default-color);
    font-size: var(--h1-font-size);
    line-height: var(--h1-font-size);
}

.itemComapanyType{
    text-transform: capitalize;
    color: var(--first-color-alt);
    font-weight: var(--font-semi-bold);
}

.itemComapanyAddress, .itemCompanyOwner{
    color: var(--first-color-light);
    font-size: var(--smaller-font-size);
}



.itemCompanyOwner{
    text-align: center;
}

.itemCompanyImageContainer{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.itemCompanyImageContainer img{
    width: 100%;
}

.itemCompanyDetails .blackFillButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.searchArea{
    justify-content: space-between;
    background-color: var(--text-color);
    border: 2px solid var(--text-color-light);
    border-radius: 1.5rem;
    padding: 1rem 1rem;
    margin-top: 1rem;
    color: var(--text-color-light);
    font-size: var(--h3-font-size);
}

.itemSearchDiv{
    width: 70%;
    justify-content: flex-start;
    column-gap: 0.3rem;
}

.itemSearchDiv input{
    font-size: var(--small-font-size);
    outline: none;
    width: 100%;
    /* padding: 0.5rem 0.5rem; */
    border: none;
    color: var(--first-color-light);
    font-weight: var(--font-semi-bold);
    background: transparent;
}

.itemSearchDiv input::placeholder{
    color: var(--text-color-light);
}


.searchArea select{
    width: 20%;
    padding: 0.2rem 1rem;
    font-weight: var(--font-semi-bold);
    color: var(--first-color-light);
    border: none;
    outline: none;
    cursor: pointer;
    background:transparent;
}

.searchArea select option{
    padding: 1rem 1rem;
}

.itemsCountHeading{
    justify-self: flex-start;
    align-self: flex-start;
    padding: 1rem 0.5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--default-color);
}


.ItemsTable{
    width: 100%;
    padding-top: 0;
    row-gap: 0;
}

.ItemsTable .userUpdateLink .blackFillButton{
    padding: 0.5rem 3rem;
}

@media screen and (max-width: 1100px) {
    .searchArea select{
        width: 30%;
    }
}

@media screen and (max-width: 860px) {
    .searchArea select{
        width: 30%;
    }

    .ItemMainUpper{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    
    .itemCompanyDetails{
        align-items: center;
    }

    .itemCompanyName, .itemComapanyAddress, .itemCompanyOwner{
        text-align: center;
    }

    .itemSearchDiv{
        width: 50%;
    }

    .searchArea select {
        width: 50%;
    }

    .itemIndexContainer{
        padding: 4rem 2rem;
    }

    .itemCompanyDetails .blackFillButton {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 625px) {
    .itemIndexContainer{
        padding: 4rem 0.2rem;
    }
}

@media screen and (max-width: 390px) {
    .ItemsTable .userUpdateLink .blackFillButton{
        padding: 0.5rem 1.5rem !important;
    }

    .ItemsTable .userRemoveLink .whiteFillButton{
        padding: 0.5rem 0.5rem !important;
    }

    .searchArea{
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .searchArea .itemSearchDiv{
        width: 100%;
    }

    .searchArea select{
        width: 100%;
    }
}


.itemFormSelect{
    align-items: flex-start;
}

.itemFormSelect select{
    width: 100%;
    padding: 1.2rem 0.5rem;
    border: none;
    outline: none;
    background-color: var(--text-color);
    cursor: pointer;
    font-weight: var(--font-semi-bold);
    border-radius: 7px;
    color: var(--first-color-alt);
}



/* ====================================   Tables    ================================ */

.table{
    width: 100%;
    max-width: 1080px;
    margin: 40px auto;
    box-shadow: 0px 1px 9px rgba(5, 57, 94, 0.2);
    border-collapse: collapse;
}

.table th{
    padding: 13px 15px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}

.table thead{
    background-color: var(--default-color) !important;
    color: var(--default-color);
    font-weight: 700;
}

.table tbody tr:nth-child(even){
    background: #f5f5f5 !important;
}

.registeredUsersContainer{
    padding-top: 30px;
}

.section__title{
    font-size: var(--h1-font-size);
    text-align: center;
    color: var(--default-color);
}

/* Responisveness */
@media screen and (max-width: 767px) {

    .table{
        box-shadow: none;
    }

    .table tbody{
        padding: 0 16px;
    }

    .table thead{
        display: none;
    }

    .table tbody, .table tbody tr{
        display: block;
        width: 100%;
    }

    .table tbody tr th::before, .table tbody tr td::before{
        content: attr(data-title);
        display: block;
        font-weight: 600;
        font-size: 12px;
        color: rgba(5, 57, 94, 0.5);
    }

    .table tbody tr th{
        display: block;
        width: 50%;
        float: left;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        color: var(--default-color);
    }

    .table tbody tr{
        margin-bottom: 16px;
        box-shadow: 0px 1px 9px rgba(5, 57, 94, 0.2);
        float: left;
        clear: both;
        border-radius: 7px;
    }

    .userUpdateLink .blackFillButton{
        margin-top: 7px;
    }
}

@media screen and (max-width: 400px) {
    
    .table tbody tr th{
        font-size: 13px;
    }

    .userUpdateLink .blackFillButton, .userRemoveLink .whiteFillButton{
        padding: 0.5rem 1.2rem;
    }

}

div.field_with_errors{
    width: 100%;
}


/* ====================================   Project Profile    ================================ */
.projectProfileAvatar{
    background: var(--first-color);
    padding: 2rem 4rem;
    color: var(--text-color);
    border-radius: 2rem;
}

.projectProfileAvatar input[type="file"]{
    font-size: var(--normal-font-size);
}

.projectProfileAvatar input[type="file"] #file-upload-button{
    background: none;
}

.projectProfileImageDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
}

.projectProfileImageDiv img{
    border-radius: 2rem;
    width: auto;
    height: 350px;
}

/* ====================================   Show Project    ================================ */
.showProjectMainContainer{

    background: url(asset_path("bg_white_marble.jpg"));
    background-attachment: fixed;
}


.topLeftProject .clientName{
    color: var(--first-color-alt);
    font-size: var(--h3-font-size);
}

.projectRemarksContainer{
    width: 100%;
    justify-content: space-evenly;
    margin: 2rem 0;
    flex-wrap: wrap;
    gap: 1rem;
}

.projectCounter{
    min-width: 15rem;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.projectRemarksContainer .middleCounter{
    background-color: var(--first-color);
    color: var(--first-color);
}

.projectRemarksContainer .leftCounter{
    background-color: var(--default-color);
    color: var(--default-color);
}

.projectRemarksContainer .rightCounter{
    background-color: var(--first-color-alt);
    color: var(--first-color-alt);
}

.projectCounter .innerCounterContainer{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    background: url(asset_path("bg_white_marble.jpg"));
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projectCounter .innerCounterContainer h1{
    font-size: var(--h3-font-size);
    text-align: center;
}

.projectCounter .innerCounterContainer p{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-bold);
}

.projectContentContainer{
    margin: 2rem 0;
}

.projectContentContainer .section__title{
    font-size: var(--h2-font-size);
}



/* ======================               Projects             ============================= */
.contactForm .inputs .field{
    width: 100%;
}

.contactForm .inputs .field label{
    color: var(--default-color);
}

.contactForm .inputs .field select{
    width: 100%;
    padding: 0.8rem 1rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--text-color);
    cursor: pointer;
}

.projectTopContainer{
    width: 100%;
    justify-content: space-between;
}

.projectTopContainer .topLeftProject .topPojectTitle{
    font-size: var(--h2-font-size);
    color: var(--default-color);
    line-height: var(--h3-font-size);
}

.projectTopContainer .topLeftProject  h4{
    font-size: var(--small-font-size);
    color: var(--first-color-light) ;
}

.projectTopContainer .topLeftProject p{
    font-size: var(--smaller-font-size);
    color: darkblue;
}

.projectContentContainer{
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem 4rem;
}

.projectMainCard{
    padding-top: 12rem;
    display: flex;
    justify-content: flex-end;
    background: url("https://images.unsplash.com/photo-1448630360428-65456885c650?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80");
    background-position: center;
    background-repeat: none;
    box-shadow: 0px 0px 22px -1px var(--text-color-light);
    -webkit-box-shadow: 0px 0px 22px -1px var(--text-color-light);
    -moz-box-shadow: 0px 0px 22px -1px var(--text-color-light);
    width: 42%;
    min-width: 26rem;
    border-radius: 0.8rem;
}

.projectMainCardContent{
    background-color: var(--text-color-light);
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    padding: 2rem 1.3rem;
    width: 100%;
    
}

.projectMainCardContent .top .project_name{
    font-size: var(--normal-font-size);
    color: var(--default-color);
    text-align: center;
    transition: all 0.5s ease;
}

.projectMainCardContent .top .project_name:hover{
    color: #4f080f;
}

.projectMainCardContent .top .type{
    color: var(--first-color-alt);
}

.projectMainCardContent .middle .address{
    font-size: var(--smaller-font-size);
    line-height: var(--smaller-font-size);
    font-weight: lighter;
    width: 50%;
}

.projectMainCardContent .middle .dealine{
    color: var(--default-color);
    font-weight: var(--font-semi-bold);
}

.projectMainCardContent .bottom .order_placed{
    color: rgb(2, 2, 77);
    font-size: var(--small-font-size);
}

.projectMainCardContent .bottom .status{
    background-color: var(--first-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
}

.projectMainCardContent .bottom .redStatus{             /*Final Stage*/
    background-color: var(--default-color);
}

.projectMainCardContent .bottom .greyStatus{            /*Enqueued*/
    background-color: var(--first-color-alt);
}

.projectMainCardContent .bottom .greenStatus{           /*Completed*/
    background-color: green;
}

.projectMainCardContent .bottom .blueStatus{            /*In Process*/
    background-color: rgb(2, 2, 77);
}

.projectMainCardContent .operation{
    margin-top: 5px;
}

.projectMainCardContent .operation .blackFillButton, .projectMainCardContent .operation .whiteFillButton{
    text-align: center;
}

@media screen and (max-width: 620px) {
    .projectTopContainer {
        flex-direction: column;
        row-gap: 5px;
        text-align: center;
    }
}

@media screen and (max-width: 440px) {
    
    .leftRightContainer{
        flex-direction: column;
        row-gap: 5px;
    }

    .projectMainCard{
        min-width: 100%;;
    }

    .projectMainContainer {
        padding: 4rem 0.5rem;
    }
    
    .projectMainCardContent .middle .address{
        width: 100%;
    }
    
    .projectMainCardContent .middle .dealine{
        align-self: flex-end;
    }

    .projectMainCardContent .bottom .order_placed{
        align-self: flex-end;
    }
}

/* ======================               Project Details             ============================= */




