// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
//@import "active_admin/mixins";
//@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


.deviseMainContainer{
    background-color: var(--text-color-light);
}


.deviseTitle{
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    color: var(--default-color);
}




:root{

    --header-height: 3rem;

    /*              Colors / Theme          */
    --first-color: #000;
    --first-color-light: rgb(16, 16, 16);
    --first-color-lighten: #e0e0e0; 
    --first-color-alt: #8a7968;
    --text-color: white;
    --text-color-light: #e0e0e0; 
    --default-color: #7E0c17;


    /*              Typographhy          */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.1rem;
    --small-font-size: 0.938rem;
    --smaller-font-size: 0.85rem;

    /*              Font weight          */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*===== Margenes =====*/
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /*===== z index =====*/
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root{
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.5rem;
        --normal-font-size: 1.25rem;
        --small-font-size: 1rem;
        --smaller-font-size: 0.95rem;
    }
}

/*===== BASE =====*/
*, ::before, ::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    background-color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3, p{
    margin: 0;
}

h3{
    font-weight: var(--font-semi-bold);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}



/*===== CLASS CSS ===== */

.section{
    padding: 4rem 0 2rem;
}

.l-section{
    padding: 4rem 4rem;
}

.separationQuote{
    background-color: var(--first-color-lighten);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quoteText{
    font-size: var(--h3-font-size);
    color: var(--first-color-light);
}

.quoteRefer{
    color: #7E0c17;
    justify-content: right;
    font-size: var(--h2-font-size);
}


.redLine{
    height: 2px;
    width: 40%;
    background-color: var(--default-color);
}


.flexContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalFlexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}


/* ==================    Buttons    =========================*/
.transparentButton{
    background: transparent;
    border: 2px solid var(--text-color-light);
    color: var(--text-color-light);
    transition: 0.3s;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.3rem 1rem;
    max-width: 70%;
    position: relative;
}

.transparentButton::before,
.transparentButton::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s;
}

.transparentButton::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

.transparentButton::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.transparentButton:hover::before,
.transparentButton:hover::after{
    width: calc(100% + 29px);
    height: calc(100% + 29px);
}

.transparentButton:hover{
    border: 2px solid var(--text-color);
    color: var(--text-color);
    text-shadow: 0 0 var(--text-color);
}


.blackFillButton{
    padding: 0.5rem 2rem;
    border: 2px solid var(--first-color);
    background-color: var(--text-color);
    color: var(--first-color);
    transition: 0.4s;
}

.blackFillButton:hover{
    background-color: var(--first-color);
    color: var(--text-color);
}

.whiteFillButton{
    padding: 0.5rem 2rem;
    border: 2px solid var(--first-color);
    background-color: var(--first-color);
    color: var(--text-color);
    transition: 0.4s;
}

.whiteFillButton:hover{
    border: 2px solid var(--first-color);
    background-color: var(--text-color);
    color: var(--first-color);
}


deviseMainContainer{
    background-color: var(--text-color-light);
}

.deviseTitle{
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    color: var(--default-color);
}

.deviseMainContainer form{
    margin-top: 2rem;
    width: 80%;
}

.field{
    width: 50%;
}

.field input{
    width: 100%;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

.rememberBox{
    justify-content: flex-start;
    align-items: left;
    color: var(--default-color);
    font-size: 1.2rem;
    width: 50%;
}

.actions{
    width: 50%;
}

.actions .blackFillButton{
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;

}

.deviseLinks{
    margin-top: 0.8rem;
    row-gap: 0;
}

.deviseLinks a{
    text-align:center;
}

.field em{
    color: var(--default-color);
    font-style: normal;
}

@media screen and (max-width: 1155px)
{
    .deviseMainContainer form{
        width: 100%;
    }

    .field{
        width: 80%;
    }

    .actions{
        width: 80%;
    }

    .rememberBox{
        width: 80%;
    }
}


@media screen and (max-width: 650px)
{
    .field{
        width: 100%;
    }

    .actions{
        width: 100%;
    }

    .deviseMainContainer{
        padding: 4rem 1rem;
    }

    .rememberBox{
        width: 100%;
    }
    
}

#user_qualification,
#user_user_roles{
    width: 100%;
    padding: 1rem 0.5rem;
    border: none;
    outline: none;
    background-color: var(--text-color);
    font-size: var(--small-font-size);
    
    color: gray;
}

#user_qualification option:hover{
    background-color: var(--default-color);
}

.field select{
    border-radius: 9px;
    padding-right: 9px;
}


#signupMesssageField{
    text-align: center;
}

#signupMesssageField em{
    font-weight: 600;
}

.avatarField input{
    padding: 0.1rem;
}

.active_admin .flashes{
    display: none;
}



/* ====================================     Footer  ================================ */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
    row-gap: 2rem;
    background: var(--first-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    
}

.upperFooter{
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
}

.lowerFooter{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.socialLink{
    height: 40px;
    width: 40px;
    /* padding: 1rem; */
    background-color: var(--text-color);
    margin: 5px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.socialLink i{
    font-size: 1.3rem;
    justify-self: center;
    color: var(--default-color);
}

.socialLink:hover{
    background-color: var(--default-color);
}

.socialLink:hover i{
    color: var(--text-color);
}

.copy{
    text-align: center;
}


/* Discussion section */

.discussion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    background: url("http://maxdesigns.ae/wp-content/uploads/2022/06/bg_white_marble.jpg");
    background-attachment: fixed;
}

.discussion .redLine{
    width: 14%;
}

.discussionTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: var(--h2-font-size);
}

.discussionSubtitle{
    font-weight: 700;
    text-transform: uppercase;
    font-size: var(--h3-font-size);
    color: var(--first-color-light);
}

.discuss{
    width: 60%;
    text-align: justify;
}

@media screen and (max-width: 860px) {
    .mission{
        flex-direction: column;
    }

    .missionLeft, .missionRight{
        width: 100%;
    }

    .missionLeft > div{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .missionLefttitle{
        text-align: center;
    }

    .missionTitle{
        text-align: center;
        width: 100%;
    }

    .missionDescription{
        width: 90%;
        text-align: center;
    }

    .discuss{
        width: 90%;
    }

    .lowerFooter{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .upperFooter{
        text-align: center;
    }
}


@media screen and (max-width: 400px) {
    .transparentButton{
        text-align: center;
        max-width: 90%;
        width: 80%;
        font-size: 0.75rem;
    }
}