<footer>

    <div class="upperFooter">
        Get Advice from max design
    </div>

    <div class="lowerFooter">

        <span class="powered">Powered by One-sols</span>

        <span class="copy"> Copyright &copy; <%= Time.new.year %> Max Designs. All Rights Reserved </span>

        <span class="socialIcons">

            <a href="https://www.instagram.com/max_designs_md/" class="socialLink">
                <i class='bx bxl-instagram'></i>
            </a>

            <a href="https://www.facebook.com/Max-Designs-119741961427527/?_rdc=2&_rdr" class="socialLink">
                <i class='bx bxl-facebook'></i>
            </a>
            
        </span>

    </div>

</footer>